@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');


body{
    background-color: antiquewhite;
    font-family:url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    image-resolution: 1.6px;
    line-height: 2;
    
}
h1{
    text-align: center;
    font-size: 5rem;
}
h2, h3, h4{
    text-align: center;
}

.caja1, .caja2, .caja3, .caja4, .caja5, .caja6{
    border: 2px solid rgb(238, 236, 236);
    background-color: rgb(2, 2, 2);
    color: rgb(51, 162, 206);
    font-family:url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
    font-weight: bold;
    font-size: large;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}
.flex-container1{
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    margin: 0 auto;
}
.flex-container2{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.caja7{
    border: 5px solid rgb(70, 69, 69);
    background-color: #037BC0;
    color: black;
    font-family:url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
    font-weight: bold;
    font-size: medium;
    width: 400px;
    height: 350px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}
.caja11, .caja12{
    border: 5px solid rgb(70, 69, 69);
    background-color: #037BC0;
    color: black;
    font-family:url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
    font-weight: normal;
    font-size: larger;
    width: 400px;
    height: 350px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}
.flex-container3{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.flex-container4{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.flex-container5{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.flex-container6{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.caja18, .caja19, .caja20{
    border: 5px solid rgb(70, 69, 69);
    background-color: #037BC0;
    color: black;
    font-family:url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
    font-weight: bold;
    font-size: larger;
    width: 400px;
    height: 350px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}
.flex-container7{
    display: flex;
    padding:50px 25px;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
}
.caja24, .caja25, .caja26{
    text-align: center;
}